.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.926000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.909000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.728000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.931000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1d{word-spacing:-11.904000px;}
.ws6{word-spacing:-9.472000px;}
.ws41{word-spacing:-9.360000px;}
.wsf{word-spacing:-8.704000px;}
.ws38{word-spacing:-6.912000px;}
.ws2{word-spacing:-5.952000px;}
.ws36{word-spacing:-5.632000px;}
.ws31{word-spacing:-5.504000px;}
.ws3d{word-spacing:-5.248000px;}
.ws44{word-spacing:-4.352000px;}
.ws4c{word-spacing:-4.160000px;}
.ws5{word-spacing:-3.968000px;}
.ws5a{word-spacing:-3.584000px;}
.ws17{word-spacing:-3.096000px;}
.ws4{word-spacing:-2.432000px;}
.ws2a{word-spacing:-2.304000px;}
.ws4a{word-spacing:-2.112000px;}
.ws29{word-spacing:-1.296000px;}
.ws28{word-spacing:-0.864000px;}
.wsa{word-spacing:-0.720000px;}
.ws16{word-spacing:-0.576000px;}
.ws0{word-spacing:0.000000px;}
.ws26{word-spacing:0.192000px;}
.ws21{word-spacing:0.384000px;}
.ws3a{word-spacing:0.704000px;}
.ws4f{word-spacing:1.152000px;}
.ws4d{word-spacing:1.216000px;}
.ws2e{word-spacing:1.368000px;}
.ws3c{word-spacing:3.328000px;}
.ws2c{word-spacing:3.456000px;}
.ws35{word-spacing:3.520000px;}
.ws39{word-spacing:3.904000px;}
.ws24{word-spacing:4.352000px;}
.ws11{word-spacing:4.416000px;}
.ws27{word-spacing:4.736000px;}
.ws13{word-spacing:5.184000px;}
.ws3{word-spacing:5.312000px;}
.ws59{word-spacing:5.440000px;}
.ws30{word-spacing:5.696000px;}
.ws34{word-spacing:5.888000px;}
.ws3f{word-spacing:7.296000px;}
.ws2b{word-spacing:7.488000px;}
.ws49{word-spacing:7.808000px;}
.ws47{word-spacing:7.872000px;}
.ws5b{word-spacing:8.000000px;}
.ws12{word-spacing:8.256000px;}
.ws3e{word-spacing:8.576000px;}
.ws19{word-spacing:8.640000px;}
.ws1f{word-spacing:8.832000px;}
.ws10{word-spacing:9.280000px;}
.ws20{word-spacing:9.920000px;}
.ws4b{word-spacing:10.176000px;}
.ws42{word-spacing:10.304000px;}
.ws22{word-spacing:10.816000px;}
.ws56{word-spacing:10.880000px;}
.ws25{word-spacing:12.032000px;}
.ws1e{word-spacing:12.096000px;}
.ws3b{word-spacing:12.416000px;}
.ws50{word-spacing:12.608000px;}
.ws18{word-spacing:13.752000px;}
.ws23{word-spacing:13.952000px;}
.ws1{word-spacing:14.016000px;}
.ws52{word-spacing:14.784000px;}
.ws46{word-spacing:15.168000px;}
.ws2f{word-spacing:15.872000px;}
.wse{word-spacing:15.936000px;}
.ws54{word-spacing:16.320000px;}
.ws43{word-spacing:16.960000px;}
.ws9{word-spacing:18.072000px;}
.ws5c{word-spacing:18.496000px;}
.ws4e{word-spacing:19.776000px;}
.ws1c{word-spacing:20.480000px;}
.ws48{word-spacing:20.928000px;}
.ws53{word-spacing:22.016000px;}
.ws32{word-spacing:22.272000px;}
.ws37{word-spacing:24.896000px;}
.ws8{word-spacing:26.136000px;}
.ws1b{word-spacing:26.496000px;}
.ws51{word-spacing:27.200000px;}
.ws55{word-spacing:27.968000px;}
.ws40{word-spacing:29.376000px;}
.ws33{word-spacing:30.336000px;}
.ws45{word-spacing:30.528000px;}
.wsb{word-spacing:31.744000px;}
.ws57{word-spacing:43.776000px;}
.ws2d{word-spacing:52.848000px;}
.ws15{word-spacing:55.656000px;}
.ws1a{word-spacing:57.728000px;}
.ws7{word-spacing:63.360000px;}
.wsd{word-spacing:63.552000px;}
.wsc{word-spacing:69.504000px;}
.ws58{word-spacing:72.576000px;}
.ws14{word-spacing:147.960000px;}
._0{margin-left:-8.880000px;}
._4{margin-left:-7.104000px;}
._5{margin-left:-5.894400px;}
._3{margin-left:-4.857600px;}
._1{margin-left:-3.648000px;}
._9{margin-left:-2.361600px;}
._2{margin-left:-1.184000px;}
._6{width:1.152000px;}
._b{width:2.918400px;}
._c{width:7.750400px;}
._8{width:11.264000px;}
._7{width:19.539200px;}
._a{width:31.808000px;}
.fc2{color:rgb(238,187,12);}
.fc1{color:rgb(35,31,32);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:64.000000px;}
.fs2{font-size:72.000000px;}
.fs0{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y18{bottom:44.370200px;}
.y79{bottom:82.830200px;}
.y78{bottom:102.030200px;}
.y77{bottom:121.230200px;}
.y2b{bottom:134.430300px;}
.y76{bottom:140.430200px;}
.y2a{bottom:153.630300px;}
.y75{bottom:165.630200px;}
.y4a{bottom:171.630300px;}
.y29{bottom:172.830300px;}
.y17{bottom:180.030300px;}
.y61{bottom:182.130100px;}
.y74{bottom:184.830200px;}
.y49{bottom:190.830300px;}
.y28{bottom:192.030300px;}
.y1{bottom:192.510300px;}
.y16{bottom:199.230300px;}
.y60{bottom:201.330100px;}
.y73{bottom:204.030200px;}
.y38{bottom:206.430300px;}
.y48{bottom:210.030300px;}
.y27{bottom:211.230300px;}
.y15{bottom:218.430300px;}
.y5f{bottom:220.530100px;}
.y62{bottom:225.000000px;}
.y37{bottom:225.630300px;}
.y47{bottom:229.230300px;}
.y26{bottom:230.430300px;}
.y72{bottom:235.230300px;}
.y14{bottom:237.630300px;}
.y5e{bottom:239.730100px;}
.y36{bottom:244.830300px;}
.y46{bottom:248.430300px;}
.y25{bottom:249.630300px;}
.y13{bottom:256.830300px;}
.y5d{bottom:258.930100px;}
.y35{bottom:264.030300px;}
.y45{bottom:267.630300px;}
.y71{bottom:268.830200px;}
.y24{bottom:268.830300px;}
.y12{bottom:276.030300px;}
.y5c{bottom:278.130100px;}
.y89{bottom:282.848100px;}
.y34{bottom:283.230300px;}
.y23{bottom:288.030300px;}
.y44{bottom:292.830300px;}
.y70{bottom:294.030200px;}
.y11{bottom:295.230300px;}
.y88{bottom:302.048100px;}
.y33{bottom:302.430300px;}
.y5b{bottom:303.330100px;}
.y22{bottom:307.230300px;}
.y43{bottom:312.030300px;}
.y6f{bottom:313.230200px;}
.y9a{bottom:313.680100px;}
.y10{bottom:314.430300px;}
.y87{bottom:321.248100px;}
.y5a{bottom:322.530100px;}
.y21{bottom:326.430300px;}
.y42{bottom:331.230300px;}
.y99{bottom:332.880100px;}
.y32{bottom:333.630300px;}
.y6e{bottom:338.430200px;}
.y59{bottom:341.730100px;}
.yf{bottom:345.630200px;}
.y20{bottom:345.630300px;}
.y86{bottom:346.448100px;}
.y41{bottom:350.430300px;}
.y98{bottom:352.080100px;}
.y31{bottom:355.230300px;}
.y6d{bottom:357.630200px;}
.y58{bottom:360.930100px;}
.y1f{bottom:364.830300px;}
.y85{bottom:365.648100px;}
.ye{bottom:367.230200px;}
.y40{bottom:369.630300px;}
.y97{bottom:371.280100px;}
.y6c{bottom:376.830200px;}
.y30{bottom:376.830300px;}
.y57{bottom:380.130100px;}
.yd{bottom:388.830200px;}
.y96{bottom:390.480100px;}
.y84{bottom:390.848100px;}
.y3f{bottom:394.830300px;}
.y1e{bottom:396.030200px;}
.y2f{bottom:398.430300px;}
.y56{bottom:399.330100px;}
.y6b{bottom:402.030200px;}
.y95{bottom:409.680100px;}
.y83{bottom:410.048100px;}
.yc{bottom:410.430200px;}
.y3e{bottom:414.030300px;}
.y1d{bottom:417.630200px;}
.y55{bottom:418.530100px;}
.y2e{bottom:420.030300px;}
.y6a{bottom:421.230200px;}
.y94{bottom:428.880100px;}
.y3d{bottom:433.230300px;}
.y82{bottom:435.248100px;}
.y54{bottom:437.730100px;}
.y1c{bottom:439.230200px;}
.y69{bottom:440.430200px;}
.yb{bottom:441.630300px;}
.y93{bottom:448.080100px;}
.y3c{bottom:452.430300px;}
.y81{bottom:454.448100px;}
.y53{bottom:456.930100px;}
.y1b{bottom:460.830200px;}
.ya{bottom:460.830300px;}
.y2d{bottom:463.230300px;}
.y68{bottom:465.630200px;}
.y92{bottom:467.280100px;}
.y3b{bottom:471.630300px;}
.y52{bottom:476.130100px;}
.y9{bottom:480.030300px;}
.y1a{bottom:482.430200px;}
.y67{bottom:484.830200px;}
.y2c{bottom:484.830300px;}
.y80{bottom:485.648000px;}
.y91{bottom:486.480100px;}
.y3a{bottom:490.830300px;}
.y51{bottom:495.330100px;}
.y8{bottom:499.230300px;}
.y66{bottom:504.030200px;}
.y19{bottom:504.030300px;}
.y90{bottom:505.680100px;}
.y50{bottom:514.530100px;}
.y39{bottom:516.030300px;}
.y7{bottom:518.430300px;}
.y7f{bottom:519.248000px;}
.y65{bottom:523.230200px;}
.y8f{bottom:524.880100px;}
.y4f{bottom:533.730100px;}
.y6{bottom:537.630300px;}
.y7e{bottom:538.448000px;}
.y64{bottom:542.430200px;}
.y8e{bottom:544.080100px;}
.y4e{bottom:552.930100px;}
.y5{bottom:556.830300px;}
.y8d{bottom:563.280100px;}
.y7d{bottom:563.648000px;}
.y4d{bottom:572.130100px;}
.y63{bottom:573.630200px;}
.y4{bottom:576.030300px;}
.y8c{bottom:582.480100px;}
.y7c{bottom:582.848000px;}
.y4c{bottom:597.330200px;}
.y8b{bottom:601.680100px;}
.y7b{bottom:602.048000px;}
.y3{bottom:607.230200px;}
.y4b{bottom:618.930200px;}
.y8a{bottom:620.880100px;}
.y7a{bottom:621.248000px;}
.y2{bottom:643.500000px;}
.h6{height:46.208000px;}
.h3{height:46.784000px;}
.h5{height:51.408000px;}
.h4{height:52.632000px;}
.h1{height:87.720000px;}
.h2{height:103.500000px;}
.h7{height:522.000000px;}
.h0{height:792.000000px;}
.w1{width:106.000000px;}
.w2{width:540.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:36.000000px;}
.x7{left:54.000000px;}
.x6{left:133.476000px;}
.x1{left:207.690900px;}
.x2{left:253.000000px;}
.x4{left:300.996000px;}
.x5{left:312.000000px;}
.x8{left:330.000000px;}
.x9{left:409.476000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws1d{word-spacing:-15.872000pt;}
.ws6{word-spacing:-12.629333pt;}
.ws41{word-spacing:-12.480000pt;}
.wsf{word-spacing:-11.605333pt;}
.ws38{word-spacing:-9.216000pt;}
.ws2{word-spacing:-7.936000pt;}
.ws36{word-spacing:-7.509333pt;}
.ws31{word-spacing:-7.338667pt;}
.ws3d{word-spacing:-6.997333pt;}
.ws44{word-spacing:-5.802667pt;}
.ws4c{word-spacing:-5.546667pt;}
.ws5{word-spacing:-5.290667pt;}
.ws5a{word-spacing:-4.778667pt;}
.ws17{word-spacing:-4.128000pt;}
.ws4{word-spacing:-3.242667pt;}
.ws2a{word-spacing:-3.072000pt;}
.ws4a{word-spacing:-2.816000pt;}
.ws29{word-spacing:-1.728000pt;}
.ws28{word-spacing:-1.152000pt;}
.wsa{word-spacing:-0.960000pt;}
.ws16{word-spacing:-0.768000pt;}
.ws0{word-spacing:0.000000pt;}
.ws26{word-spacing:0.256000pt;}
.ws21{word-spacing:0.512000pt;}
.ws3a{word-spacing:0.938667pt;}
.ws4f{word-spacing:1.536000pt;}
.ws4d{word-spacing:1.621333pt;}
.ws2e{word-spacing:1.824000pt;}
.ws3c{word-spacing:4.437333pt;}
.ws2c{word-spacing:4.608000pt;}
.ws35{word-spacing:4.693333pt;}
.ws39{word-spacing:5.205333pt;}
.ws24{word-spacing:5.802667pt;}
.ws11{word-spacing:5.888000pt;}
.ws27{word-spacing:6.314667pt;}
.ws13{word-spacing:6.912000pt;}
.ws3{word-spacing:7.082667pt;}
.ws59{word-spacing:7.253333pt;}
.ws30{word-spacing:7.594667pt;}
.ws34{word-spacing:7.850667pt;}
.ws3f{word-spacing:9.728000pt;}
.ws2b{word-spacing:9.984000pt;}
.ws49{word-spacing:10.410667pt;}
.ws47{word-spacing:10.496000pt;}
.ws5b{word-spacing:10.666667pt;}
.ws12{word-spacing:11.008000pt;}
.ws3e{word-spacing:11.434667pt;}
.ws19{word-spacing:11.520000pt;}
.ws1f{word-spacing:11.776000pt;}
.ws10{word-spacing:12.373333pt;}
.ws20{word-spacing:13.226667pt;}
.ws4b{word-spacing:13.568000pt;}
.ws42{word-spacing:13.738667pt;}
.ws22{word-spacing:14.421333pt;}
.ws56{word-spacing:14.506667pt;}
.ws25{word-spacing:16.042667pt;}
.ws1e{word-spacing:16.128000pt;}
.ws3b{word-spacing:16.554667pt;}
.ws50{word-spacing:16.810667pt;}
.ws18{word-spacing:18.336000pt;}
.ws23{word-spacing:18.602667pt;}
.ws1{word-spacing:18.688000pt;}
.ws52{word-spacing:19.712000pt;}
.ws46{word-spacing:20.224000pt;}
.ws2f{word-spacing:21.162667pt;}
.wse{word-spacing:21.248000pt;}
.ws54{word-spacing:21.760000pt;}
.ws43{word-spacing:22.613333pt;}
.ws9{word-spacing:24.096000pt;}
.ws5c{word-spacing:24.661333pt;}
.ws4e{word-spacing:26.368000pt;}
.ws1c{word-spacing:27.306667pt;}
.ws48{word-spacing:27.904000pt;}
.ws53{word-spacing:29.354667pt;}
.ws32{word-spacing:29.696000pt;}
.ws37{word-spacing:33.194667pt;}
.ws8{word-spacing:34.848000pt;}
.ws1b{word-spacing:35.328000pt;}
.ws51{word-spacing:36.266667pt;}
.ws55{word-spacing:37.290667pt;}
.ws40{word-spacing:39.168000pt;}
.ws33{word-spacing:40.448000pt;}
.ws45{word-spacing:40.704000pt;}
.wsb{word-spacing:42.325333pt;}
.ws57{word-spacing:58.368000pt;}
.ws2d{word-spacing:70.464000pt;}
.ws15{word-spacing:74.208000pt;}
.ws1a{word-spacing:76.970667pt;}
.ws7{word-spacing:84.480000pt;}
.wsd{word-spacing:84.736000pt;}
.wsc{word-spacing:92.672000pt;}
.ws58{word-spacing:96.768000pt;}
.ws14{word-spacing:197.280000pt;}
._0{margin-left:-11.840000pt;}
._4{margin-left:-9.472000pt;}
._5{margin-left:-7.859200pt;}
._3{margin-left:-6.476800pt;}
._1{margin-left:-4.864000pt;}
._9{margin-left:-3.148800pt;}
._2{margin-left:-1.578667pt;}
._6{width:1.536000pt;}
._b{width:3.891200pt;}
._c{width:10.333867pt;}
._8{width:15.018667pt;}
._7{width:26.052267pt;}
._a{width:42.410667pt;}
.fs1{font-size:85.333333pt;}
.fs2{font-size:96.000000pt;}
.fs0{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y18{bottom:59.160267pt;}
.y79{bottom:110.440267pt;}
.y78{bottom:136.040267pt;}
.y77{bottom:161.640267pt;}
.y2b{bottom:179.240400pt;}
.y76{bottom:187.240267pt;}
.y2a{bottom:204.840400pt;}
.y75{bottom:220.840267pt;}
.y4a{bottom:228.840400pt;}
.y29{bottom:230.440400pt;}
.y17{bottom:240.040400pt;}
.y61{bottom:242.840133pt;}
.y74{bottom:246.440267pt;}
.y49{bottom:254.440400pt;}
.y28{bottom:256.040400pt;}
.y1{bottom:256.680400pt;}
.y16{bottom:265.640400pt;}
.y60{bottom:268.440133pt;}
.y73{bottom:272.040267pt;}
.y38{bottom:275.240400pt;}
.y48{bottom:280.040400pt;}
.y27{bottom:281.640400pt;}
.y15{bottom:291.240400pt;}
.y5f{bottom:294.040133pt;}
.y62{bottom:300.000000pt;}
.y37{bottom:300.840400pt;}
.y47{bottom:305.640400pt;}
.y26{bottom:307.240400pt;}
.y72{bottom:313.640400pt;}
.y14{bottom:316.840400pt;}
.y5e{bottom:319.640133pt;}
.y36{bottom:326.440400pt;}
.y46{bottom:331.240400pt;}
.y25{bottom:332.840400pt;}
.y13{bottom:342.440400pt;}
.y5d{bottom:345.240133pt;}
.y35{bottom:352.040400pt;}
.y45{bottom:356.840400pt;}
.y71{bottom:358.440267pt;}
.y24{bottom:358.440400pt;}
.y12{bottom:368.040400pt;}
.y5c{bottom:370.840133pt;}
.y89{bottom:377.130800pt;}
.y34{bottom:377.640400pt;}
.y23{bottom:384.040400pt;}
.y44{bottom:390.440400pt;}
.y70{bottom:392.040267pt;}
.y11{bottom:393.640400pt;}
.y88{bottom:402.730800pt;}
.y33{bottom:403.240400pt;}
.y5b{bottom:404.440133pt;}
.y22{bottom:409.640400pt;}
.y43{bottom:416.040400pt;}
.y6f{bottom:417.640267pt;}
.y9a{bottom:418.240133pt;}
.y10{bottom:419.240400pt;}
.y87{bottom:428.330800pt;}
.y5a{bottom:430.040133pt;}
.y21{bottom:435.240400pt;}
.y42{bottom:441.640400pt;}
.y99{bottom:443.840133pt;}
.y32{bottom:444.840400pt;}
.y6e{bottom:451.240267pt;}
.y59{bottom:455.640133pt;}
.yf{bottom:460.840267pt;}
.y20{bottom:460.840400pt;}
.y86{bottom:461.930800pt;}
.y41{bottom:467.240400pt;}
.y98{bottom:469.440133pt;}
.y31{bottom:473.640400pt;}
.y6d{bottom:476.840267pt;}
.y58{bottom:481.240133pt;}
.y1f{bottom:486.440400pt;}
.y85{bottom:487.530800pt;}
.ye{bottom:489.640267pt;}
.y40{bottom:492.840400pt;}
.y97{bottom:495.040133pt;}
.y6c{bottom:502.440267pt;}
.y30{bottom:502.440400pt;}
.y57{bottom:506.840133pt;}
.yd{bottom:518.440267pt;}
.y96{bottom:520.640133pt;}
.y84{bottom:521.130800pt;}
.y3f{bottom:526.440400pt;}
.y1e{bottom:528.040267pt;}
.y2f{bottom:531.240400pt;}
.y56{bottom:532.440133pt;}
.y6b{bottom:536.040267pt;}
.y95{bottom:546.240133pt;}
.y83{bottom:546.730800pt;}
.yc{bottom:547.240267pt;}
.y3e{bottom:552.040400pt;}
.y1d{bottom:556.840267pt;}
.y55{bottom:558.040133pt;}
.y2e{bottom:560.040400pt;}
.y6a{bottom:561.640267pt;}
.y94{bottom:571.840133pt;}
.y3d{bottom:577.640400pt;}
.y82{bottom:580.330800pt;}
.y54{bottom:583.640133pt;}
.y1c{bottom:585.640267pt;}
.y69{bottom:587.240267pt;}
.yb{bottom:588.840400pt;}
.y93{bottom:597.440133pt;}
.y3c{bottom:603.240400pt;}
.y81{bottom:605.930800pt;}
.y53{bottom:609.240133pt;}
.y1b{bottom:614.440267pt;}
.ya{bottom:614.440400pt;}
.y2d{bottom:617.640400pt;}
.y68{bottom:620.840267pt;}
.y92{bottom:623.040133pt;}
.y3b{bottom:628.840400pt;}
.y52{bottom:634.840133pt;}
.y9{bottom:640.040400pt;}
.y1a{bottom:643.240267pt;}
.y67{bottom:646.440267pt;}
.y2c{bottom:646.440400pt;}
.y80{bottom:647.530667pt;}
.y91{bottom:648.640133pt;}
.y3a{bottom:654.440400pt;}
.y51{bottom:660.440133pt;}
.y8{bottom:665.640400pt;}
.y66{bottom:672.040267pt;}
.y19{bottom:672.040400pt;}
.y90{bottom:674.240133pt;}
.y50{bottom:686.040133pt;}
.y39{bottom:688.040400pt;}
.y7{bottom:691.240400pt;}
.y7f{bottom:692.330667pt;}
.y65{bottom:697.640267pt;}
.y8f{bottom:699.840133pt;}
.y4f{bottom:711.640133pt;}
.y6{bottom:716.840400pt;}
.y7e{bottom:717.930667pt;}
.y64{bottom:723.240267pt;}
.y8e{bottom:725.440133pt;}
.y4e{bottom:737.240133pt;}
.y5{bottom:742.440400pt;}
.y8d{bottom:751.040133pt;}
.y7d{bottom:751.530667pt;}
.y4d{bottom:762.840133pt;}
.y63{bottom:764.840267pt;}
.y4{bottom:768.040400pt;}
.y8c{bottom:776.640133pt;}
.y7c{bottom:777.130667pt;}
.y4c{bottom:796.440267pt;}
.y8b{bottom:802.240133pt;}
.y7b{bottom:802.730667pt;}
.y3{bottom:809.640267pt;}
.y4b{bottom:825.240267pt;}
.y8a{bottom:827.840133pt;}
.y7a{bottom:828.330667pt;}
.y2{bottom:858.000000pt;}
.h6{height:61.610667pt;}
.h3{height:62.378667pt;}
.h5{height:68.544000pt;}
.h4{height:70.176000pt;}
.h1{height:116.960000pt;}
.h2{height:138.000000pt;}
.h7{height:696.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:141.333333pt;}
.w2{width:720.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:48.000000pt;}
.x7{left:72.000000pt;}
.x6{left:177.968000pt;}
.x1{left:276.921200pt;}
.x2{left:337.333333pt;}
.x4{left:401.328000pt;}
.x5{left:416.000000pt;}
.x8{left:440.000000pt;}
.x9{left:545.968000pt;}
}
